/* Reset and base styles  */
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
* {
	padding: 0px;
	margin: 0px;
	border: none;
}

*,
*::before,
*::after {
	box-sizing: border-box;
}

/* Links */

a, a:link, a:visited  {
    text-decoration: none;
}

a:hover  {
    text-decoration: none;
}

/* Common */

aside, nav, footer, header, section, main {
	display: block;
}

h1, h2, h3, h4, h5, h6, p {
    font-size: inherit;
	font-weight: inherit;
}

ul, ul li {
	list-style: none;
}

img {
	vertical-align: top;
}

img, svg {
	max-width: 100%;
	height: auto;
}

address {
  font-style: normal;
}

/* Form */

input, textarea, button, select {
	font-family: inherit;
    font-size: inherit;
    color: inherit;
    background-color: transparent;
}

input::-ms-clear {
	display: none;
}

button, input[type="submit"] {
    display: inline-block;
    box-shadow: none;
    background-color: transparent;
    background: none;
    cursor: pointer;
}

input:focus, input:active,
button:focus, button:active {
    outline: none;
}

button::-moz-focus-inner {
	padding: 0;
	border: 0;
}

label {
	cursor: pointer;
}

legend {
	display: block;
}
body {
    font-family: "Roboto", sans-serif;
    
}
:root {
	--main-color: grey;
}
.container {
     max-width: 1366px;
     margin: 0 auto;
     padding: 20px;
}
.form {
    display: flex;
    flex-direction: column;
    gap: 10px;
    justify-content: center;
    align-items: center;
    /* max-width: 300px; */
    margin-bottom: 20px;
    background-color: #434f3f;
    color: #fff;
    border-radius: 5px;
    padding: 20px;
    margin-top: 0px;
}
.label {
    display: flex;
    flex-direction: column;
    gap: 4px;
    max-width: 250px;
    width: 100%;
}
.input {
    border: 1px solid white;
    max-width: 250px;
    width: 100%;
    padding: 6px 8px;
    border-radius: 5px;
}
.form_btn {
    margin-top: 10px;
    border: 1px solid white;
    border-radius: 5px;
    max-width: 150px;
    width: 100%;
    padding:5px 10px;
}
.flex{
    display: flex;
    justify-content: space-between;
    gap: 50px;
    /* border-bottom: 1px solid var(--main-color); */
    width: 100%;
    border: 1px solid gray;
    background-color: #494b3e;
    color: #fff;
    border-radius: 5px;
    padding-left: 10px;
    padding-right: 10px;

}
.catalog_logo {
 position: absolute;
 right: 20px;
 top: 10px;
}
.catalog_logo svg{
  width: 35px!important;
}
.flex_svg {
  width: 20px;
}
.title-1 {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.title-1 p {
    max-width: 435px;
    width: 100%;
    padding: 10px 0px;
    display: flex;
    align-items: center;
    gap: 10px;
}
.flex:nth-child(1) {
    /* border-top: 1px solid var(--main-color); */
}
.all-price {
    margin-top: 20px;
}
.flex_btn {
    
}
.circle {
  max-width: 300px;
  width: 100%;
  height: 300px;
  margin-bottom: 100px!important;
  margin: 0 auto;
  display: flex;
  margin-top: 50px;
  border-radius: 50%;
  background-color: #434f3f;
  justify-content: center;
  align-items: center;
  position: relative;
}
.circle-2 {
  background-color: #fff;
  max-width: 210px;
  width: 100%;
  height: 210px;
   justify-content: center;
  align-items: center;
  display: flex;
  border-radius: 50%;
  
}
.circle_3 {
  background-color: #fff;
  max-width: 190px;
  width: 100%;
  height: 190px;
 border: 2px dashed rgb(0, 0, 0);
  border-radius: 50%;
}
.circle_text {
  position: absolute;
  top: 46%;
  left: 50%;
  font-size: 19px;
  transform: translateX(-50%);
}
.category {
  display: flex;
  justify-content: space-between;
  gap: 20px;
  align-items: center;
}
.category_item {
  width: 32px;
  height: 32px;
}
.menu {
    position: fixed;
    bottom: 0;
    width: 100vw;
    display: flex;
    justify-content: space-between;
    background-color: #639f85;
    padding-top: 5px;
    padding-bottom: 10px;
    border-radius: 15px 15px 0 0;
}
.nav_link {
    width: 33.4%;
    text-align: center;
    color: white;
    padding: 10px;  
    padding-bottom: 5px;
    font-size: 18px;
    margin-left: 10px;
    margin-right: 10px;
}
.nav_link--active {
    border-bottom: 2px solid white;
}
.header {
    background-color: #639f85;
    border-radius:  0 0 15px 15px;
    height: 112px;
}

#menu__toggle {
    opacity: 0;
  }
  #menu__toggle:checked + .menu__btn > span {
    transform: rotate(45deg);
  }
  #menu__toggle:checked + .menu__btn > span::before {
    top: 0;
    transform: rotate(0deg);
  }
  #menu__toggle:checked + .menu__btn > span::after {
    top: 0;
    transform: rotate(90deg);
  }
  #menu__toggle:checked ~ .menu__box {
    left: 0 !important;
  }
  .menu__btn {
    position: fixed;
    top: 20px;
    left: 20px;
    width: 26px;
    height: 26px;
    cursor: pointer;
    z-index: 1;
  }
  .menu__btn > span,
  .menu__btn > span::before,
  .menu__btn > span::after {
    display: block;
    position: absolute;
    width: 100%;
    height: 2px;
    background-color: #616161;
    transition-duration: .25s;
  }
  .menu__btn > span::before {
    content: '';
    top: -8px;
  }
  .menu__btn > span::after {
    content: '';
    top: 8px;
  }
  .menu__box {
    display: block;
    position: fixed;
    top: 0;
    left: -100%;
    width: 300px;
    height: 100%;
    margin: 0;
    padding: 80px 0;
    list-style: none;
    background-color: #639f85;

    box-shadow: 2px 2px 6px rgba(0, 0, 0, .4);
    transition-duration: .25s;
  }
  .menu__item {
    display: block;
    padding: 12px 24px;
    color: #fff;
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    font-weight: 600;
    text-decoration: none;
    transition-duration: .25s;
  }
  .menu__item:hover {
    background-color: #2121219f;
  }



/*  SETTING */
.title-1_setting {
  font-size: 24px;
  margin-top: -90px;
  text-align: center;
  color: white;
  margin-bottom: 15px;
}
.setting_list {
  margin-top: 80px;
}
.setting_list-item {
  display: flex;
    justify-content: space-between;
    gap: 50px;
    /* border-bottom: 1px solid var(--main-color); */
    width: 100%;
    border: 1px solid gray;
    background-color: #494b3e;
    color: #fff;
    border-radius: 5px;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 20px;
    padding-bottom: 20px;
}
.darkTime {
  background-color: #000;
  width: 60px;
  height: 20px;
  border-radius: 10px;
  position: relative;
  cursor: pointer;
  transition: all 0.3s ease-in;
}
.darkTime::before {
  content: '';
  position: absolute;
  left: 0;
  top: -4px;
  border-radius: 50%;
  background-color: #fff;
  width: 27px;
  height: 27px;
  transition: all 0.3s ease-in;
}
.darkTime--active::before {
  left: 36px;

}
.body--active {
  background-color: #362f2f;
  color: #fff;
}
/*  SETTING */
/*  PROFIL */


.form_prof {
  margin-top: 60px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.header_prof {
  height: 80px;
}
.title-1_prof {
  font-size: 24px;
  margin-top: -70px;
  text-align: center;
  color: white;
  margin-bottom: 15px;
}
.input_profil {
  border: 1px solid black;
}

/*  PROFIL */
/*  MEDIA */
  @media(max-width:500px) {
    .title-1 p {
      font-size: 15px;
    }
    .flex_btn {
      font-size: 14px;
    }
    .flex_svg {
      width: 35px;
  }
  }
  @media(max-width:400px) {

    .flex_svg {
      width: 45px;
  }
  }
  /*  MEDIA */